$color: blue;

h1 {
  color: $color;
}

.app {
  width: 50%;
  background-color: yellow;
  border: 5px solid $color;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}